<!-- product slider -->
<div id="carouselExampleInterval" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="d-flex justify-content-around">
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>

                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="d-flex justify-content-around">
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>

                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-around">
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
          <div class="card" style="width: 15rem;">
              <img src="../../assets/product.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="title">Blouse</h2>
                  <h3 class="price">300.00 LE</h3>
                  <div class="stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>

                  </div>
                  <button class="btn" >View product</button>
              </div>
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
