 <!-- footer -->
 <footer>
  <div class="upper-footer" style="width: 80%; text-align: center;">
      <div class="contact d-flex justify-content-around p-2" style="margin: auto;">
          <div class="call p-2">
              <p class="fw-bold">call us</p>
              <p>01062060958</p>
          </div>
          <div class="message p-2">
              <p class="fw-bold">send us a message</p>
              <p>stylesharegmail.com</p>
          </div>
      </div>
  </div>
  <div class="footer d-flex justify-content-around p-3">
      <div class="copyright p-2">
          Copyright © Eskai
      </div>
      <div class="powered p-2">
          powered by youmna Hamdy
      </div>
  </div>


</footer>
